<% include ./partials/header.ejs %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><% title %></h1>
    <!--Showing the images-->

    <!--Adding the description of the Projects-->
  </div>
</div>
<% include ./partials/footer.ejs %>
